<div class="container-fluid" id="header">
    <div class="row">
        <div class="col-sm-11">
            <a href="/"><img id="navbar-logo" src="../asset/img/logo.png"></a>
            <div class="row float-right">
                <ul id="header-inline">
                    <% if(!sess.username) { %>
                    <li class="d-inline"><a href="/login">Login</a></li>
                    <p class="d-inline p-2"> | </p>
                    <li class="d-inline"><a href="/register">Register</a></li>
                    <% } else { %>
                    <li class="d-inline"><a href="/logout">Logout</a></li>
                    <% } %>
                    <p class="d-inline p-2"> | </p>
                    <li class="d-inline"><a href="/aboutus">About us</a></li>
                    <p class="d-inline p-2"> | </p>
                    <li class="d-inline"><a href="/faq">FAQ</a></li>
                    <p class="d-inline p-2"> | </p>
                    <li class="d-inline"><a href="/contactus">Contact us</a></li>
                </ul>
            </div>
            <br />

            <div class="row" id="searchbar-row">
                <form class="form-inline">
                    <select class="form-control mr-sm-2">
                        <option>Category</option>
                        <option>Homeware</option>
                        <option>Tools &amp; Equip</option>
                        <option>Sports &amp; Rec</option>
                        <option>Entertainment</option>
                        <option>Babys &amp; Kids</option>
                        <option>Fashion</option>
                    </select>

                    <input id="searchbar" class="form-control mr-sm-2" type="search" placeholder="What do you want to borrow?"
                        aria-label="Search">
                    <a href="/list"><input type="button" id="btn-list" class="btn btn-primary my-2 mr-sm-2" value="List"></a>
                    <a href="/map"><input type="button" id="btn-map" class="btn btn-primary my-2" value="Map"></a>
                </form>
                <% if(sess.username) { %>
                <div id="features">
                    <a href="/post"><input type="button" id="btn-post" class="btn btn-danger my-2 mr-sm-2" value="Post Item"></a>
                    <a href="/profile"><input type="button" id="btn-mypage" class="btn btn-danger my-2" value="My Page"></a>
                </div>
                <% } %>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="user">
                <a href="/cart"><i class="fas fa-user fa-3x"></i></a>
                <% if(!sess.username) { %>
                <p id="user-id">guest</p>
                <% } else { %>
                <p id="user-id"><%= sess.username %></p>
                <% } %>
            </div>
        </div>
    </div>
</div>