<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto card my-5 shadow-lg rounded">
      <div class="card-body">
        <!-- first row - Page title -->
        <h2 class="card-title text-center mb-4">Post Product</h2><br>
        <form id="itemform" name="itemform" enctype="multipart/form-data" method="POST" action="/postItem">
          <div class="form-group row">

            <!-- second row - category, Title, description and Image -->
            <div class="col-md-7 col-md-offset-1">
              <!-- second row - first column - first row -->
              <div class="form-group row">

                <div class="col-sm-3">
                  <label for="name">Category</label>
                </div>

                <div class="col-sm-9">
                  <select id="categoryselect" name="category" class="form-control mr-sm-2" style="background-color: rgb(223, 244, 255);">
                    <option value="">Please select one...</option>
                    <option value="1">Homeware</option>
                    <option value="2">Tools &amp; Equip</option>
                    <option value="3">Sports &amp; Rec</option>
                    <option value="4">Entertainment</option>
                    <option value="5">Babies &amp; Kids</option>
                    <option value="6">Fashion</option>
                  </select>
                  <div class="errorMsg" id="categoryError"></div>
                </div>
              </div>

              <!-- second row - first column - second row -->
              <div class="form-group row">

                <div class="col-sm-3">
                  <label for="name">Product Title</label>
                </div>

                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" name="name" maxlength="100">
                  <div class="errorMsg" id="nameError"></div>
                </div>
              </div>

              <!-- second row - first column - third row -->
              <div class="form-group row">

                <div class="col-sm-3">
                  <label for="description">Product Description</label>
                </div>

                <div class="col-sm-9">
                  <textarea class="form-control" id="description" name="description" rows="7" maxlength="255"></textarea>
                  <div class="errorMsg" id="descError"></div>
                </div>
              </div>
            </div><!-- end of md-7 + col-md-offset-1 -->

            <div class="col-md-1">
              <!-- empty column -->
            </div>

            <!-- second row - second column -->
            <div class="col-md-4">

              <img id="myImg" class="mx-auto" src="asset/img/image-not-found.png" alt="Upload image" width="100%"
                height="200" />
              <br><br>
              <label for="photoURL" class="btn btn-secondary btn-block">Upload item image</label>
              <input type="file" id="photoURL" name="photoURL" accept="image/*" style="display: none">
              <div class="errorMsg" id="imgError"></div>
            </div> <!-- col-md-4 -->
          </div><!-- row -->

          <br><br>

          <!-- third row - first column -->
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="purchasedYear">Year Purchased</label><br />
                  <input type="text" class="date-own form-control" id="purchasedYear" name="purchasedYear" max="2018"
                    placeholder="2018">
                  <div class="errorMsg" id="purchasedError"></div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="purchasedPrice">Purchased Price $ </label><br />
                  <input type="number" min="0.01" step="0.01" max="2500.45" class="form-control num-only" id="purchasedPrice"
                    name="purchasedPrice">
                  <div class="errorMsg" id="purchasedPriceError"></div>
                </div>
              </div>

              <br>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="condition">Condition</label><br />
                  <select class="form-control" id="condition" name="condition">
                    <option value="1">Used</option>
                    <option value="2">Refurbished</option>
                    <option value="3">New</option>
                    <option value="4">New but open box</option>
                  </select>
                </div>
              </div>

              <!-- third row -->
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="availability">Availability Duration</label><br />
                  <input type="calendar" class="demo form-control" id="availability" name="availability">
                  <div class="errorMsg" id="availabilityError"></div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="depositPrice">Deposite Price $ </label><br />
                  <input type="number" min="0.01" step="0.01" max="2500.45" class="form-control num-only" id="depositPrice"
                    name="depositPrice">
                  <div class="errorMsg" id="depositError"></div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="rentPerDay">Rental Price $ (Daily)</label><br />
                  <input type="number" min="0.01" step="0.01" max="2500.45" class="form-control num-only" id="rentPerDay"
                    name="rentPerDay">
                  <div class="errorMsg" id="rentError"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="city">City</label><br />
                  <input type="text" class="form-control" id="city" name="city">
                  <div class="errorMsg" id="cityError"></div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="postalcode">Postal code</label><br />
                  <input type="text" class="form-control" id="postalcode" name="postalcode" maxlength="6" placeholder="X3X3X3">
                  <div class="errorMsg" id="postal_errors"></div>
                </div>
              </div>
              <br>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="province">Province</label><br />
                  <select class="form-control" id="province" name="province">
                    <option value="AB">Alberta</option>
                    <option value="BC">British Columbia</option>
                    <option value="MB">Manitoba</option>
                    <option value="NB">New Brunswick</option>
                    <option value="NL">Newfoundland and Labrador</option>
                    <option value="NS">Nova Scotia</option>
                    <option value="ON" selected="selected">Ontario</option>
                    <option value="PE">Prince Edward Island</option>
                    <option value="QC">Quebec</option>
                    <option value="SK">Saskatchewan</option>
                    <option value="NT">Northwest Territories</option>
                    <option value="NU">Nunavut</option>
                    <option value="YT">Yukon</option>
                  </select>
                </div>
              </div>
            </div> <!-- row -->
          </div> <!-- form-group -->

          <div class="text-center">
            <input class="btn btn-lg btn-secondary text-uppercase mr-3" type="button" value="Cancel" onclick="window.history.back();">
            <input form="itemform" class="btn btn-lg btn-primary text-uppercase" type="submit" value="&emsp;&emsp;Post&emsp;&emsp;">
          </div>
        </form>
      </div> <!-- card-body -->
    </div>
  </div> <!-- row -->
</div> <!-- container -->
<script>
  var today = new Date();
  var yyyy = today.getFullYear();
  document.getElementById("purchasedYear").setAttribute("max", yyyy);
</script>
<script>

  /**
   * jQuery UI Datepicker add-on which can help select date range
   * First click selects start date of range. Second click selects
   * end date of range and closes calendar.
   *
   * Plugin accept all Datepicker options. Also, plugin introduce one more
   * option -- rangeSeparator.
   *
   * http://noteskeeper.ru/38/
   *
   * Copyright 2009-2013 Vladimir Kuznetsov <mistakster@gmail.com>
   * Released under the MIT license
   * http://opensource.org/licenses/MIT
   *
   */
  (function ($) {

    function compareDates(start, end, format) {
      var temp, dateStart, dateEnd;

      try {
        dateStart = $.datepicker.parseDate(format, start);
        dateEnd = $.datepicker.parseDate(format, end);
        if (dateEnd < dateStart) {
          temp = start;
          start = end;
          end = temp;
        }
      } catch (ex) { }

      return { start: start, end: end };
    }

    $.fn.daterange = function (opts) {

      // defaults
      opts = $.extend({
        "changeMonth": false,
        "changeYear": false,
        "numberOfMonths": 2,
        "rangeSeparator": " - "
      }, opts || {});

      var onSelect = opts.onSelect || $.noop;
      var onClose = opts.onClose || $.noop;
      var beforeShow = opts.beforeShow || $.noop;
      var beforeShowDay = opts.beforeShowDay;

      var lastDateRange;

      function storeLastDateRange(dateText, dateFormat) {
        var start, end;
        dateText = dateText.split(opts.rangeSeparator);
        if (dateText.length > 0) {
          start = $.datepicker.parseDate(dateFormat, dateText[0]);
          if (dateText.length > 1) {
            end = $.datepicker.parseDate(dateFormat, dateText[1]);
          }
          lastDateRange = { start: start, end: end };
        } else {
          lastDateRange = null;
        }
      }

      opts.beforeShow = function (input, inst) {
        // store dateText to highlight it latter
        var dateFormat = $(this).datepicker("option", "dateFormat");
        storeLastDateRange($(input).val(), dateFormat);
        beforeShow.apply(this, arguments);
      };

      opts.beforeShowDay = function (date) {

        var out = [true, ""], extraOut;

        if (lastDateRange && lastDateRange.start <= date) {
          if (lastDateRange.end && date <= lastDateRange.end) {
            out[1] = "ui-datepicker-range";
          }
        }

        if (beforeShowDay) {
          extraOut = beforeShowDay.apply(this, arguments);
          out[0] = out[0] && extraOut[0];
          out[1] = out[1] + " " + extraOut[1];
          out[2] = extraOut[2];
        }

        return out;
      };

      // datepicker's select date event handler
      opts.onSelect = function (dateText, inst) {
        var textStart;
        if (!inst.rangeStart) {
          inst.inline = true;
          inst.rangeStart = dateText;
        } else {
          inst.inline = false;
          textStart = inst.rangeStart;
          if (textStart !== dateText) {
            var dateFormat = $(this).datepicker("option", "dateFormat");
            var dateRange = compareDates(textStart, dateText, dateFormat);
            $(this).val(dateRange.start + opts.rangeSeparator + dateRange.end);
            inst.rangeStart = null;
          }
        }
        // call original callback for select event
        onSelect.apply(this, arguments);
      };

      opts.onClose = function (dateText, inst) {
        // reset state
        inst.rangeStart = null;
        inst.inline = false;
        // call original callback for close event
        onClose.apply(this, arguments);
      };

      return this.each(function () {
        var input = $(this);
        if (input.is("input")) {
          input.datepicker(opts);
        }
      });
    };

  }(jQuery));


  $(function () {
    $("#availability").daterange({
      dateFormat: "yy/mm/dd", //date format
      rangeSeparator: "  # #  " // the string between first and last date
    });
  });
</script>