<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto card my-5 shadow-lg rounded">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Post Product</h2><br>
                <form name="itemform" method="POST" action="/postItem">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <!-- first column -->
                            <img id="myImg" class="mx-auto" src="asset/img/image-not-found.png" alt="Upload image"
                                width="100%" height="200" />
                            <br><br>
                            <label for="photoURL" class="btn btn-secondary btn-block">Click
                                here to upload an image</label>
                            <input type="file" id="photoURL" name="photoURL" accept="image/*" style="display: none"
                                multiple>
                        </div> <!-- col-md-4 -->

                        <div class="col-md-1">
                            <!---------------- empty column ---------------->
                        </div>

                        <div class="col-md-7">
                            <!-- second column -->
                            <div class="form-group row">
                                <!-- zero row -->
                                <div class="col-sm-3">
                                    <label for="name">CATEGORY</label>
                                </div>

                                <div class="col-sm-5">
                                    <select id="categoryselect" name="category" class="form-control mr-sm-2" required
                                        style="background-color: rgb(223, 244, 255);">
                                        <option value="homeware">Homeware</option>
                                        <option value="tools">Tools &amp; Equip</option>
                                        <option value="sports">Sports &amp; Rec</option>
                                        <option value="entertainment">Entertainment</option>
                                        <option value="babies">Babies &amp; Kids</option>
                                        <option value="fashion">Fashion</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- first row -->
                                <div class="col-sm-3">
                                    <label for="name">Product Title</label>
                                </div>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" name="name" maxlength="100"
                                        required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <!-- second row -->
                                <div class="col-sm-3">
                                    <label for="description">Product Description</label>
                                </div>

                                <div class="col-sm-9">
                                    <textarea class="form-control" id="description" name="description" rows="7"
                                        maxlength="255" required></textarea>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <!-- third row -->
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="depositPrice">Deposite Price $ </label><br />
                                            <input type="number" min="0" max="10000" class="form-control" id="depositPrice"
                                                name="depositPrice" required>
                                        </div> <!-- form-group row -->
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="rentPerDay">Rental Price $ (per day)</label><br />
                                            <input type="number" min="0" max="500" class="form-control" id="rentPerDay"
                                                name="rentPerDay" required>
                                        </div> <!-- form-group row -->
                                    </div>
                                </div> <!-- col-sm-6 -->

                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="purchasedYear">Date Purchased</label><br />
                                            <input type="date" class="form-control" id="purchasedYear" name="purchasedYear"
                                                required>
                                        </div> <!-- form-group row -->
                                    </div>
                                </div> <!-- col-sm-6 -->
                            </div> <!-- row -->

                        </div>
                    </div> <!-- col-sm-8 -->
                    <div class="text-center">
                        <button class="btn btn-lg btn-primary text-uppercase" type="submit">&emsp;&emsp;Post&emsp;&emsp;</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("purchasedYear").setAttribute("max", today);

    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#myImg').attr('src', e.target.result)
            .width(auto)
            .height(200);
    };
</script>