<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto card my-5 shadow-lg rounded">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Registration</h2>
        <form name="register_form" method="POST" action="/signup" onsubmit="return formValidation();">
          <div class="form-group mb-3 w-50">
            <label for="username">USERNAME</label>
            <input type="text" id="username" name="username" maxlength="20" class="form-control" autofocus>
            <div class="errorMsg" id="username_errors"></div>
          </div>
          <div class="form-group form-row mb-3">
            <div class="col">
              <label for="password">PASSWORD</label>
              <input type="password" id="password" name="password" maxlength="20" class="form-control">
              <div class="errorMsg" id="password_errors"></div>
            </div>
            <div class="col">
              <label for="retypePW">CONFIRM PASSWORD</label>
              <input type="password" id="retypePW" name="retypePW" maxlength="20" class="form-control">
            </div>
          </div>

          <hr class="my-4">

          <div class="form-group form-row mb-3">
            <div class="col">
              <label for="firstname">FIRSTNAME</label>
              <input type="text" id="firstname" name="firstname" maxlength="30" class="form-control">
              <div class="errorMsg" id="name_errors"></div>
            </div>
            <div class="col">
              <label for="lastname">LASTNAME</label>
              <input type="text" id="lastname" name="lastname" maxlength="30" class="form-control">
            </div>
          </div>
          <div class="form-group form-row mb-3">
            <div class="col">
              <label for="email">EMAIL</label>
              <input type="text" id="email" name="email" class="form-control" value="<%= email %>" readonly>
              <div class="errorMsg" id="email_errors"></div>
            </div>
            <div class="col">
              <label for="phoneNum">PHONE#</label>
              <input type="tel" id="phoneNum" name="phoneNum" maxlength="10" class="form-control">
              <div class="errorMsg" id="phone_errors"></div>
            </div>
          </div>
          <div class="form-group mb-5 w-50">
            <label for="postalcode">POSTAL CODE</label>
            <input type="text" id="postalcode" name="postalcode" maxlength="6" class="form-control">
            <div class="errorMsg" id="postal_errors"></div>
          </div>
          <div class="text-center">
            <button class="btn btn-lg btn-primary text-uppercase px-5 mb-3" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>