<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="shadow-lg rounded">
                <div class="card my-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="container">
                                    <h5 class="card-title">Rental Information</h5><br>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <!-- first column -->
                                            <img id="myImg" class="mx-auto" src="<%= item.photoURL %>" alt="Upload image"
                                                width="100%" height="200" style="object-fit: cover; border: 1px solid #ddd" />
                                        </div> <!-- col-md-4 -->

                                        <div class="col-md-7">
                                            <!-- second column -->
                                            <div class="form-group row">
                                                <!-- first row -->
                                                <h5>
                                                    <%= item.name %>
                                                </h5>
                                                <br />
                                                <p>
                                                    <%= item.description %>
                                                </p>
                                                <h5>Lender:&nbsp;&nbsp;</h5>
                                                <h5>
                                                    <%= lender.userName %>
                                                </h5>
                                                <!-- <span>&nbsp;&nbsp;&nbsp;</span>
                                                <span class="star-prototype">4.5</span> -->
                                            </div>
                                        </div>
                                    </div> <!-- col-sm-8 -->

                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Quantity">Quantity</label><br />
                                                <input id="Quantity" type="number" name="quantity" min="1" max="10"
                                                    value="1" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="DatePurchased">Rental From (start date)</label><br />
                                                <input type="date" class="" id="rentalFrom" required>
                                                <br />
                                                <br />
                                                <label for="DatePurchased">Rental To (end date)</label><br />
                                                <input type="date" class="" id="rentalTo" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="vl"></div>
                                <div class="container">
                                    <div class="inline float-right" style="margin: 0 auto;">
                                        <p>$4<br />$4<br />$4</p>
                                    </div>
                                    <div class="inline float-right" style="margin: 0 auto;">
                                        <p>Pay per day:<br />Quantity:<br />Rental period (days):&nbsp;&nbsp;&nbsp;</p>
                                    </div>
                                    <br /><br /><br />
                                    <hr />
                                    <h4 class="float-right">Total:&nbsp; $120</h4>
                                    <div class="text-center" style="position: absolute; right: 0; left: 0; bottom: 0; margin: auto;">
                                        <a href="/cart">
                                            <button type="button" class="btn btn-primary" style="width: 80%; margin-bottom: 10px;">Add
                                                to Shopping Cart</button>
                                        </a>
                                        <br />
                                        <button type="button" class="btn btn-secondary" style="width: 80%;" onclick="window.history.back();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>