<div class="container">
    <div class="row">
      <div class="col-md-5 card card-signin shadow-lg rounded mx-auto my-5">
        <div class="card-body text-center">
          <h3 class="card-title">Please verify your email first.</h3>
          <br>
          <p>This process will send a verification link to your email.</p>
          <form id="verifyemail" action="/verifyemail" method="POST">
            <input type="email" class="form-control mb-4" name="v_email" id="v_email" placeholder="Enter your valid email here">
            <input type="submit" class="btn btn-primary btn-block" value="SEND">
          </form>
          <br>
        </div>
      </div>
    </div>
  </div>